
<div class="container">
    <div class="card">
        <div class="card-body">
            <h1>Add Vehicle</h1>
            <form>
                <label for="VehicleNumber" class="form-label">Vehicle Number</label>
                <input type="text" class="form-control" placeholder="Vehicle Number">
                <label for="VehicleName" class="form-label">Vehicle Name</label>
                <input type="text" class="form-control" placeholder="Vehicle Name">
                <label for="SeatingCapacity" class="form-label">Seating Capacity</label>
                <input type="number" class="form-control" placeholder="Seating Capacity">
                <div class="row">
                    <div class="col">
                        <label for="DriverId" class="form-label">DriverId</label>
                        <select class="form-select" aria-label="DriverId">
                            <option selected>Select Driver Id</option>
                            <option value="1">1</option>
                            <option value="2">2</option>
                            <option value="3">3</option>
                        </select>
                    </div>
                    <div class="col">
                        <label for="VehicleType" class="form-label">Vehicle Type</label>
                        <select class="form-select" aria-label="VehicleType">
                            <option selected>Select Vehicle Type</option>
                            <option value="1">Bus</option>
                            <option value="2">Car</option>
                            <option value="3">Van</option>
                        </select>
                    </div>
                </div>
                <label for="FarePerKm" class="form-label">FarePerKm</label>
                <input type="number" class="form-control" placeholder="FarePerKm">
                <br><button type="submit" class="btn btn-primary">Submit</button>
            </form>
        </div>
    </div>
</div>